<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center ">

            <h1 class="mb-1">Primer Examen Parcial Ingenieria de Software I</h1>

            <a class="btn btn-primary btn-lg" href="/signin">
                Ingresar
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>