<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center custom-card">
                <div class="card-body">
                    <h3>Bienvenido {{user.username}}</h3>
                    <h4>{{user.correo}}</h4>
                    <a href="/salas" class="btn btn-primary m-4">
                        Conectatate a la pizarra
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>